* {
  box-sizing: border-box;
}

body {
  text-align: center;
  padding-top: 20px;
}

body, input {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  color: #444;
  font-smoothing: antialiased;
}

a {
  color: #3498db;
  text-decoration: none;
}

h1 {
  font-weight: 600;
}

h2, h3 {
  font-weight: 300;
}

p {
  font-weight: 300;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 0.8em;
  color: #666;
}

input {
  transition: all 0.2s ease-in-out;
  padding: 8px 10px;
  border: 2px solid #ddd;
  border-radius: 5px;
  width: 100%;
  font-size: 1.1em;
  -webkit-appearance: none;
}

input[type=submit] {
  background: #3498db;
  border-color: #3498db;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
}

input:focus {
  outline: none;
  border-color: #3498db;
}

.mc-field-group {
  margin: 10px auto;
}

form {
  width: 300px;
  margin: auto;
}

.asterisk {
  color: #e74c3c;
  font-size: 10px;
}

.row {
  display: flex;
  flex-direction: row;
}

.row .mc-field-group {
  flex: 1;
}

.row > * {
  margin-right: 10px;
}

.row > *:last-child {
  margin-right: 0;
}

hr {
  border: none;
  border-bottom: 2px solid #ccc;
  width: 60px;
  margin: 40px auto;
  border-radius: 2px;
}

svg {
  animation: rotating 300s linear infinite;
}

g {
  isolation: isolate;
}

rect {
  transform-origin: center;
  mix-blend-mode: screen;
  animation-duration: 3500ms;
  animation-delay: 700ms;
  animation-fill-mode: forwards;
}

g {
  mix-blend-mode: screen;
  transform-origin: center;
}

.parallax {
  animation-delay: 3500ms;
  animation-fill-mode: forwards;
  animation-name: rotating;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.parallax:nth-child(2) {
  animation-duration: 90s;
}

.parallax:nth-child(3) {
  animation-duration: 180s;
}

.logo-red {
  mix-blend-mode: normal;
  transform: rotate(-45deg);
}

.logo-green {
  transform: rotate(-45deg);
  animation-name: blue-animation;
}

.logo-blue {
  transform: rotate(-45deg);
  animation-name: green-animation;
}

@keyframes rotating {
  from { transform: rotate(0deg); }
  to { transform: rotate(-360deg); }
}

@keyframes blue-animation {
  from { transform: rotate(-45deg); }
  to { transform: rotate(-75deg); }
}

@keyframes green-animation {
  from { transform: rotate(-45deg); }
  to { transform: rotate(-105deg); }
}
